.container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border: 5px solid red;

  grid-gap: 5%;
}
.orange {
  border: 5px solid orange;
  padding: 5%;
  display: grid;
  grid-template-columns: 10px auto;
  grid-gap: 5px;
}
.green {
  border: 1px solid green;
}
.blue {
  border: 1px solid blue;
}
.grey {
  border: 1px solid grey;
}
