html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
}
.container > div {
  margin: 1%;
}
.orange {
  height: 15%;
  display: flex;
  flex-wrap: wrap;
}
.orange > div {
  background-color: orange;
  height: 46%;
  flex-basis: 100%;
}
.green {
  background-color: green;
  height: 15%;
}
.grey {
  height: 22%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.grey > div {
  height: 43%;
  flex-basis: 100%;
  background-color: grey;
}
.blue {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
}
.blue > div {
  flex-basis: 100%;
  background-color: blue;
  height: 30%;
}
.mobile-hidden {
  display: none;
}
@media only screen and (min-width: 768px) {
  .orange {
    height: 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .orange > div {
    background-color: orange;
    height: 46%;
    flex-basis: 100%;
  }
  .green {
    background-color: green;
    height: 25%;
  }
  .grey {
    height: 22%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .grey > div {
    background-color: grey;
    height: 43%;
    flex-basis: 49%;
  }
  .blue {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
  }
  .blue > div {
    flex-basis: 100%;
    background-color: blue;
    height: 30%;
  }
  .mobile-hidden {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .mobile-hidden {
    display: block;
  }
  .orange {
    height: 12.5%;
    display: flex;
    justify-content: space-between;
  }
  .orange > div {
    background-color: orange;
    height: 100%;
    flex-basis: 49%;
  }
  .green {
    background-color: green;
    height: 25%;
  }
  .grey {
    height: 22%;
    display: flex;
    justify-content: space-between;
  }
  .grey > div {
    height: 100%;
    flex-basis: 23%;
    border: 1px solid red;
  }
  .blue {
    height: 30%;
    display: flex;
    justify-content: space-between;
  }
  .blue > div {
    /* flex-grow: 1; */
    flex-basis: 32%;
    background-color: blue;
    height: 100%;
  }
}
